.card {
    width: 300px;
    background: brown;
    color: #fff;
    position: relative;
    display: grid;
}
.card .toggle {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}
h1 {
    padding: 25px 0 0 25px;
    margin: 0;
}
.card > div {
    padding: 25px;
}

.img {
    max-width: 100%;
    display: block;
    margin-top: 15px;
}

.btn {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    width: 15px;
    height: 15px;
    background-color: currentColor;
    z-index: 1;
}

.hidden {
    display: none;
}